SWP_TEAM_4/SWP_TEAM_4/.vs/
SWP_TEAM_4/SWP_TEAM_4/Online_Learn/bin
SWP_TEAM_4/SWP_TEAM_4/Online_Learn/obj
SWP_TEAM_4/SWP_TEAM_4/Online_Learn/appsettings.json
SWP_TEAM_4/SWP_TEAM_4/Online_Learn/appsettings.Development.json