USE [Online_Learn]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](150) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[fulll_name] [nvarchar](max) NULL,
	[role_id] [int] NULL,
	[gender] [bit] NULL,
	[dob] [date] NULL,
	[address] [varchar](max) NULL,
	[phone] [varchar](10) NULL,
	[language] [varchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[amount] [float] NULL,
	[desc] [nvarchar](max) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account_Course]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Course](
	[account_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
 CONSTRAINT [PK_Account_Course] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account_Lesson]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Lesson](
	[account_id] [int] NOT NULL,
	[lesson_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
 CONSTRAINT [PK_Account_Lesson] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[lesson_id] ASC,
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account_Token]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Token](
	[at_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](max) NULL,
	[token] [nvarchar](50) NULL,
	[create_token] [datetime] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Account_Token] PRIMARY KEY CLUSTERED 
(
	[at_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[blog_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[content] [nvarchar](max) NULL,
	[update_at] [date] NOT NULL,
	[department_id] [int] NOT NULL,
	[account_id] [int] NOT NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[course_name] [varchar](max) NOT NULL,
	[price] [float] NOT NULL,
	[department_id] [int] NOT NULL,
	[image] [nvarchar](max) NULL,
	[rate] [int] NULL,
	[language] [varchar](max) NULL,
	[account_id] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[is_sale] [int] NULL,
	[update_at] [date] NOT NULL,
	[level_id] [int] NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_name] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[exam_id] [int] IDENTITY(1,1) NOT NULL,
	[exam_name] [varchar](max) NOT NULL,
	[quantity] [int] NOT NULL,
	[time] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[lecture_id] [int] NOT NULL,
 CONSTRAINT [PK_Exam] PRIMARY KEY CLUSTERED 
(
	[exam_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_id] [int] NOT NULL,
	[course_id] [int] NULL,
	[massage] [nvarchar](max) NULL,
	[rate] [int] NULL,
	[create_date] [date] NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback_Account]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback_Account](
	[feedback_id] [int] NOT NULL,
	[account_id] [int] NOT NULL,
 CONSTRAINT [PK_Feedback_Account] PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC,
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecture]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecture](
	[lecture_id] [int] IDENTITY(1,1) NOT NULL,
	[lecture_name] [varchar](max) NOT NULL,
	[course_id] [int] NULL,
	[create_at] [date] NULL,
	[description] [varchar](max) NULL,
 CONSTRAINT [PK_Lecture] PRIMARY KEY CLUSTERED 
(
	[lecture_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecture_Account]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecture_Account](
	[account_id] [int] NOT NULL,
	[lecture_id] [int] NOT NULL,
 CONSTRAINT [PK_Lecture_Account] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[lecture_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[lesson_id] [int] IDENTITY(1,1) NOT NULL,
	[lesson_name] [varchar](max) NOT NULL,
	[video] [nvarchar](max) NOT NULL,
	[main] [nvarchar](max) NULL,
	[lecture_id] [int] NULL,
 CONSTRAINT [PK_Lesson_1] PRIMARY KEY CLUSTERED 
(
	[lesson_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Level]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Level](
	[level_id] [int] IDENTITY(1,1) NOT NULL,
	[level] [varchar](max) NULL,
 CONSTRAINT [PK_Level] PRIMARY KEY CLUSTERED 
(
	[level_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_date] [date] NULL,
	[account_id] [int] NULL,
	[total_price] [float] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[orderdetail_id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NULL,
	[order_id] [int] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_Order_Detail] PRIMARY KEY CLUSTERED 
(
	[orderdetail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Program]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Program](
	[program_id] [int] IDENTITY(1,1) NOT NULL,
	[program_name] [varchar](max) NULL,
 CONSTRAINT [PK_Program] PRIMARY KEY CLUSTERED 
(
	[program_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[question_id] [int] IDENTITY(1,1) NOT NULL,
	[quiz] [nvarchar](max) NOT NULL,
	[op1] [nvarchar](max) NOT NULL,
	[op2] [nvarchar](max) NOT NULL,
	[op3] [nvarchar](max) NOT NULL,
	[op4] [nvarchar](max) NOT NULL,
	[solution] [varchar](4) NOT NULL,
	[lecture_id] [int] NOT NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[result_id] [int] IDENTITY(1,1) NOT NULL,
	[exam_id] [int] NOT NULL,
	[account_id] [int] NULL,
	[score] [float] NULL,
	[correctAnswer] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[time] [int] NOT NULL,
 CONSTRAINT [PK_Result_1] PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technology]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technology](
	[course_id] [int] NOT NULL,
	[program_id] [int] NOT NULL,
 CONSTRAINT [PK_Technology] PRIMARY KEY CLUSTERED 
(
	[course_id] ASC,
	[program_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WhistList]    Script Date: 7/18/2022 10:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WhistList](
	[account_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
 CONSTRAINT [PK_WhistList] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([account_id], [username], [password], [fulll_name], [role_id], [gender], [dob], [address], [phone], [language], [image], [email], [amount], [desc]) VALUES (1, N'admin', N'202cb962ac59075b964b07152d234b70', N'admin', 1, 1, CAST(N'2001-05-12' AS Date), N'VN', N'0123456789', N'VN', NULL, N'admin@gmail.com', NULL, NULL)
INSERT [dbo].[Account] ([account_id], [username], [password], [fulll_name], [role_id], [gender], [dob], [address], [phone], [language], [image], [email], [amount], [desc]) VALUES (2, N'HNT', N'e10adc3949ba59abbe56e057f20f883e', N'Tran Hai Nam', 2, 1, CAST(N'2002-08-09' AS Date), N'Chua Lang - Dong Da - Ha Noi', N'0912123131', N'Viet Nam', NULL, N'khach@gmail.com', 1000, NULL)
INSERT [dbo].[Account] ([account_id], [username], [password], [fulll_name], [role_id], [gender], [dob], [address], [phone], [language], [image], [email], [amount], [desc]) VALUES (3, N'phuvinh1010', N'123456', N'Le Phu Vinh', 2, 1, CAST(N'2000-10-10' AS Date), N'Hoang Hoa Tham- Tay Ho - Ha Noi', N'0812483929', N'Viet Nam', NULL, N'vinhqphu1010@gmail..com', 560, NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[Account_Course] ([account_id], [course_id]) VALUES (4, 5)
INSERT [dbo].[Account_Course] ([account_id], [course_id]) VALUES (4, 7)
INSERT [dbo].[Account_Course] ([account_id], [course_id]) VALUES (4, 10)
GO
INSERT [dbo].[Account_Lesson] ([account_id], [lesson_id], [course_id]) VALUES (1, 2, 4)
INSERT [dbo].[Account_Lesson] ([account_id], [lesson_id], [course_id]) VALUES (1, 3, 4)
GO
SET IDENTITY_INSERT [dbo].[Account_Token] ON 

INSERT [dbo].[Account_Token] ([at_id], [email], [token], [create_token], [status]) VALUES (1, N'tuannvhe151098@fpt.edu.vn', N'zPtamL6lBJivAsMGfBUFpXrvFJqK4E', CAST(N'2022-06-19T21:58:52.460' AS DateTime), 0)
INSERT [dbo].[Account_Token] ([at_id], [email], [token], [create_token], [status]) VALUES (2, N'tuannvhe151098@fpt.edu.vn', N'PoQCVEW1I60XE0tgX8cbvIBM5fCd5R', CAST(N'2022-06-19T21:58:58.430' AS DateTime), 0)
INSERT [dbo].[Account_Token] ([at_id], [email], [token], [create_token], [status]) VALUES (3, N'tuannvhe151098@fpt.edu.vn', N'Y6AndwDPBBcZr9yjWujEBBjMLkU61t', CAST(N'2022-06-19T21:59:21.273' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Account_Token] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([course_id], [course_name], [price], [department_id], [image], [rate], [language], [account_id], [description], [is_sale], [update_at], [level_id]) VALUES (3, N'.NET Core Microservices - The Complete Guide (.NET 6 MVC)', 19.99, 1, N'https://img-b.udemycdn.com/course/240x135/4349122_1eb3_2.jpg', 5, N'English', 1, N'abhdjf', 0, CAST(N'2021-10-13' AS Date), 1)
INSERT [dbo].[Course] ([course_id], [course_name], [price], [department_id], [image], [rate], [language], [account_id], [description], [is_sale], [update_at], [level_id]) VALUES (4, N'.NET Core Microservices - The Complete Guide (.NET 6 MVC)', 19.99, 1, N'https://img-c.udemycdn.com/course/240x135/4062064_c372.jpg', 5, N'English', 21, N'.NET is a free, cross-platform, open-source developer platform for building many different types of applications.', NULL, CAST(N'2022-06-17' AS Date), 1)
INSERT [dbo].[Course] ([course_id], [course_name], [price], [department_id], [image], [rate], [language], [account_id], [description], [is_sale], [update_at], [level_id]) VALUES (5, N'Complete ASP.NET Core ', 119, 1, N'https://img-c.udemycdn.com/course/240x135/2725016_0ae7_2.jpg', 4, N'English', 1, N'Lorem abasj jasdfmskd jsafkasdf ajsfksadnf jasfksdm ajsdfksadnf asfksanf jasnfnksa kasfasdfk asdjfksdafnsakfnaskf jasnfksafsanfksanasdfkdfn', 20, CAST(N'2022-06-12' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([department_id], [department_name]) VALUES (1, N'Web Development')
INSERT [dbo].[Department] ([department_id], [department_name]) VALUES (2, N'Graphic Design')
INSERT [dbo].[Department] ([department_id], [department_name]) VALUES (3, N'Software Enigneering')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Exam] ON 

INSERT [dbo].[Exam] ([exam_id], [exam_name], [quantity], [time], [start_date], [lecture_id]) VALUES (1, N'test', 10, 9, CAST(N'2022-07-03' AS Date), 1)
INSERT [dbo].[Exam] ([exam_id], [exam_name], [quantity], [time], [start_date], [lecture_id]) VALUES (2, N'TEst', 10, 5, CAST(N'2022-07-18' AS Date), 1)
INSERT [dbo].[Exam] ([exam_id], [exam_name], [quantity], [time], [start_date], [lecture_id]) VALUES (3, N'ad', 10, 1, CAST(N'2022-07-18' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Exam] OFF
GO
SET IDENTITY_INSERT [dbo].[Lecture] ON 

INSERT [dbo].[Lecture] ([lecture_id], [lecture_name], [course_id], [create_at], [description]) VALUES (1, N'test', 3, CAST(N'2022-07-08' AS Date), N'afsdasfsdafdsafasdfsdfasfsadfasdfsdafasdfasdfasdfsda')
INSERT [dbo].[Lecture] ([lecture_id], [lecture_name], [course_id], [create_at], [description]) VALUES (3, N'Introduction', 4, CAST(N'2022-07-08' AS Date), N'asdfsa asdfjasdjfn ajsdfnajsdfnasdf')
INSERT [dbo].[Lecture] ([lecture_id], [lecture_name], [course_id], [create_at], [description]) VALUES (4, N'', NULL, CAST(N'2022-07-08' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Lecture] OFF
GO
SET IDENTITY_INSERT [dbo].[Lesson] ON 

INSERT [dbo].[Lesson] ([lesson_id], [lesson_name], [video], [main], [lecture_id]) VALUES (1, N'1', N'3', NULL, NULL)
INSERT [dbo].[Lesson] ([lesson_id], [lesson_name], [video], [main], [lecture_id]) VALUES (2, N'Lesson 1', N'', N'Lorem asda jadsj asjdjsad jasdnfwoqw qweiuna', 5)
INSERT [dbo].[Lesson] ([lesson_id], [lesson_name], [video], [main], [lecture_id]) VALUES (3, N'Lesson 2', N'', N'Lorem asda jadsj asjdjsad jasdnfwoqw qweiuna', 5)
SET IDENTITY_INSERT [dbo].[Lesson] OFF
GO
SET IDENTITY_INSERT [dbo].[Level] ON 

INSERT [dbo].[Level] ([level_id], [level]) VALUES (1, N'easy')
INSERT [dbo].[Level] ([level_id], [level]) VALUES (2, N'medium')
INSERT [dbo].[Level] ([level_id], [level]) VALUES (3, N'hard')
SET IDENTITY_INSERT [dbo].[Level] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_id], [order_date], [account_id], [total_price]) VALUES (1, CAST(N'2022-07-11' AS Date), 40, 249)
INSERT [dbo].[Order] ([order_id], [order_date], [account_id], [total_price]) VALUES (2, CAST(N'2022-07-11' AS Date), 40, 283)
INSERT [dbo].[Order] ([order_id], [order_date], [account_id], [total_price]) VALUES (3, CAST(N'2022-07-11' AS Date), 40, 99)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Detail] ON 

INSERT [dbo].[Order_Detail] ([orderdetail_id], [course_id], [order_id], [quantity]) VALUES (1, 16, 1, 1)
INSERT [dbo].[Order_Detail] ([orderdetail_id], [course_id], [order_id], [quantity]) VALUES (2, 18, 1, 1)
INSERT [dbo].[Order_Detail] ([orderdetail_id], [course_id], [order_id], [quantity]) VALUES (3, 33, 2, 1)
SET IDENTITY_INSERT [dbo].[Order_Detail] OFF
GO
SET IDENTITY_INSERT [dbo].[Program] ON 

INSERT [dbo].[Program] ([program_id], [program_name]) VALUES (1, N'C/C++')
INSERT [dbo].[Program] ([program_id], [program_name]) VALUES (2, N'Java')
INSERT [dbo].[Program] ([program_id], [program_name]) VALUES (3, N'Python')
SET IDENTITY_INSERT [dbo].[Program] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([question_id], [quiz], [op1], [op2], [op3], [op4], [solution], [lecture_id]) VALUES (2, N'1+1', N'1', N'2', N'3', N'4', N'3', 1)
INSERT [dbo].[Question] ([question_id], [quiz], [op1], [op2], [op3], [op4], [solution], [lecture_id]) VALUES (3, N'2+2', N'1', N'2', N'3', N'4', N'4', 1)
INSERT [dbo].[Question] ([question_id], [quiz], [op1], [op2], [op3], [op4], [solution], [lecture_id]) VALUES (4, N'React', N'1', N'2', N'3', N'4', N'1', 1)
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
INSERT [dbo].[Technology] ([course_id], [program_id]) VALUES (5, 2)
INSERT [dbo].[Technology] ([course_id], [program_id]) VALUES (5, 3)
INSERT [dbo].[Technology] ([course_id], [program_id]) VALUES (5, 6)
GO
INSERT [dbo].[WhistList] ([account_id], [course_id]) VALUES (21, 4)
INSERT [dbo].[WhistList] ([account_id], [course_id]) VALUES (21, 6)
INSERT [dbo].[WhistList] ([account_id], [course_id]) VALUES (21, 7)
GO
ALTER TABLE [dbo].[Account_Token] ADD  CONSTRAINT [DF_Account_Token_status]  DEFAULT ((0)) FOR [create_token]
GO
ALTER TABLE [dbo].[Account_Token] ADD  CONSTRAINT [DF_Account_Token_status_1]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Blog] ADD  CONSTRAINT [DF_Blog_update_at]  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [DF_Course_update_at]  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[Exam] ADD  CONSTRAINT [DF_Exam_start_date]  DEFAULT (getdate()) FOR [start_date]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF_Feedback_create_date]  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[Lecture] ADD  CONSTRAINT [DF_Lecture_create_at]  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_order_date]  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Account_Course]  WITH CHECK ADD  CONSTRAINT [FK_Account_Course_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Account_Course] CHECK CONSTRAINT [FK_Account_Course_Account]
GO
ALTER TABLE [dbo].[Account_Course]  WITH CHECK ADD  CONSTRAINT [FK_Account_Course_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Account_Course] CHECK CONSTRAINT [FK_Account_Course_Course]
GO
ALTER TABLE [dbo].[Account_Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Account_Lesson_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Account_Lesson] CHECK CONSTRAINT [FK_Account_Lesson_Account]
GO
ALTER TABLE [dbo].[Account_Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Account_Lesson_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Account_Lesson] CHECK CONSTRAINT [FK_Account_Lesson_Course]
GO
ALTER TABLE [dbo].[Account_Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Account_Lesson_Lesson] FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lesson] ([lesson_id])
GO
ALTER TABLE [dbo].[Account_Lesson] CHECK CONSTRAINT [FK_Account_Lesson_Lesson]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Account]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Department] ([department_id])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Department]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Account]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Department] ([department_id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Department]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Level] FOREIGN KEY([level_id])
REFERENCES [dbo].[Level] ([level_id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Level]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Lecture] FOREIGN KEY([lecture_id])
REFERENCES [dbo].[Lecture] ([lecture_id])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Lecture]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Course]
GO
ALTER TABLE [dbo].[Feedback_Account]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Account_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Feedback_Account] CHECK CONSTRAINT [FK_Feedback_Account_Account]
GO
ALTER TABLE [dbo].[Feedback_Account]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Account_Feedback] FOREIGN KEY([feedback_id])
REFERENCES [dbo].[Feedback] ([feedback_id])
GO
ALTER TABLE [dbo].[Feedback_Account] CHECK CONSTRAINT [FK_Feedback_Account_Feedback]
GO
ALTER TABLE [dbo].[Lecture_Account]  WITH CHECK ADD  CONSTRAINT [FK_Lecture_Account_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Lecture_Account] CHECK CONSTRAINT [FK_Lecture_Account_Account]
GO
ALTER TABLE [dbo].[Lecture_Account]  WITH CHECK ADD  CONSTRAINT [FK_Lecture_Account_Lecture] FOREIGN KEY([lecture_id])
REFERENCES [dbo].[Lecture] ([lecture_id])
GO
ALTER TABLE [dbo].[Lecture_Account] CHECK CONSTRAINT [FK_Lecture_Account_Lecture]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Lecture] FOREIGN KEY([lecture_id])
REFERENCES [dbo].[Lecture] ([lecture_id])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK_Lesson_Lecture]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Order_Detail_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_Order_Detail_Course]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Order_Detail_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_Order_Detail_Order]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Lecture] FOREIGN KEY([lecture_id])
REFERENCES [dbo].[Lecture] ([lecture_id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Lecture]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Account]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Exam1] FOREIGN KEY([exam_id])
REFERENCES [dbo].[Exam] ([exam_id])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Exam1]
GO
ALTER TABLE [dbo].[Technology]  WITH CHECK ADD  CONSTRAINT [FK_Technology_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Technology] CHECK CONSTRAINT [FK_Technology_Course]
GO
ALTER TABLE [dbo].[Technology]  WITH CHECK ADD  CONSTRAINT [FK_Technology_Program] FOREIGN KEY([program_id])
REFERENCES [dbo].[Program] ([program_id])
GO
ALTER TABLE [dbo].[Technology] CHECK CONSTRAINT [FK_Technology_Program]
GO
ALTER TABLE [dbo].[WhistList]  WITH CHECK ADD  CONSTRAINT [FK_WhistList_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[WhistList] CHECK CONSTRAINT [FK_WhistList_Account]
GO
ALTER TABLE [dbo].[WhistList]  WITH CHECK ADD  CONSTRAINT [FK_WhistList_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[WhistList] CHECK CONSTRAINT [FK_WhistList_Course]
GO
