@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/thankyou.css">
<div class="wrapper">
    <h1 class="thankyou-heading">Thank You !</h1>
    <div class="thankyou-icon">
        <i class="fas fa-check"></i>
    </div>
    <div class="thankyou-content">
        <p class="thankyou-title">
            Thanks a bunch for filling that out. It means a lot to us, just like you do! We
            really
            appreciate you giving us a moment of your time today. Thanks for being you
        </p>
    </div>
    <div class="thankyou-home">
        <a href="/Home" class="thankyou-link">Return Home</a>
    </div>
</div>