.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  background-color: #282c2f;
  color: #fff;
  transition: 0.4s ease-out;
}
.sidebar-logo {
  text-align: center;
  padding: 17px;
  border-bottom: 1px solid #999;
}
.sidebar-list {
  width: 100%;
  margin-top: 70px;
}
.sidebar-item {
  position: relative;
  width: 100%;
  margin: 10px 0px 45px 15px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.sidebar-item__link {
  color: #fff;
}
.sidebar-item__link:hover {
  color: #a435f0;
}
.sidebar-item:hover::before {
  opacity: 1;
  visibility: visible;
}
.sidebar-item i {
  width: 20px;
  margin: 0 23px 0 23px;
}
.sidebar-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width: 4px;
  height: 100%;
  background-color: #a435f0;
  opacity: 0;
  visibility: hidden;
}

.course {
  overflow: hidden;
  overflow-y: scroll;
}
.course-contact {
  margin-left: 352px;
  position: fixed;
  top: 0;
  left: 352;
  font-size: 30px;
  padding: 16px;
  width: 100%;
  box-shadow: 0 0 1px 2px #eee;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  max-height: 85px;
  transition: 0.25s linear;
}
.course-contact__link {
  display: inline-block;
  font-size: 15px;
  margin-left: 5px;
  background-color: #a435f0;
  padding: 6px;
  color: #fff;
  border-radius: 4px;
  transform: translateY(-10px);
}
.course-contact__link i {
  margin-right: 4px;
}
.course-contact__link:hover {
  color: #fff;
  background-color: #a535f0d0;
}
.course-contact__user {
  position: absolute;
  width: 250px;
  border: 1px solid #282c2f;
  top: 85.5px;
  right: 10px;
  font-size: 18px;
  z-index: 999;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
}
.course-contact__avt {
  overflow: hidden;
  margin-right: 400px;
  cursor: pointer;
}
.course-contact__avt img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 100rem;
}
.course-contact__avt:hover .course-contact__user {
  opacity: 1;
  visibility: visible;
}
.course-contact__profile {
  width: 100%;
  margin: 15px 0;
  padding: 0px 15px 15px 15px;
  display: flex;
  border-bottom: 1px solid #999;
}
.course-contact__name {
  font-size: 15px;
}
.course-contact__fn {
  padding-top: 8px;
  text-align: center;
  font-weight: bold;
}
.course-contact__pf {
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
  padding-bottom: 13px;
  font-size: 14px;
}
.course-contact__pf a {
  color: #282c2f;
}
.course-contact__pf a:hover {
  color: #a435f0;
}
.course-contact__pr {
  margin-left: 15px;
  margin-bottom: 15px;
}
.course-contact__logout {
  padding-bottom: 10px;
}
.course-contact__lg {
  margin-left: 15px;
  font-size: 14px;
  padding-bottom: 10px;
}
.course-contact__lg a {
  color: #282c2f;
}
.course-contact__lg a:hover {
  color: #a435f0;
}
.course-main {
  margin-top: 100px;
  margin-left: 360px;
  width: 100%;
  padding: 15px 35px 35px 35px;
}
.course-main__search {
  width: 76%;
  border: 1px solid #282c2f;
  padding: 8px;
  border-radius: 20px;
  margin-left: 10px;
}
.course-main__input {
  width: 96%;
  border: none;
  outline: none;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
.course-main__btn {
  border: none;
  outline: none;
  font-size: 17px;
  background-color: #fff;
  margin: 0 13px;
}
.course-main__list {
  width: 78%;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.course-main__item {
  width: calc(20% - 1rem);
  border: 1px solid #eee;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px rgba(153, 153, 153, 0.286);
  padding: 10px;
  cursor: pointer;
}
.course-main__img {
  justify-content: center;
}
.course-main__img img {
  width: 100%;
}
.course-main__content {
  margin-top: 10px;
}
.course-main__name {
  font-weight: bold;
}
.course-main__author {
  font-size: 12px;
}
.course-main__rp span {
  color: #ba766a;
  font-size: 16px;
  font-weight: bold;
}
.course-main__price {
  font-size: 16px;
  font-weight: bold;
}
.course-main__discount {
  position: relative;
  font-size: 14px;
  font-weight: normal;
}
.course-main__discount::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #282c2f;
}
.course-main__seller {
  display: inline-block;
  margin-top: 5px;
  padding: 5px;
  background-color: #eceb98;
}

.sidebar-item__link.active {
  color: #a435f0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: 500px;
}
.pagination-item {
  margin: 4px;
  width: 35px;
  height: 35px;
  border: 1px solid #a435f0;
  overflow: hidden;
}
.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding: 6px;
  background-color: #fff;
  color: #282c2f;
  font-weight: 500;
  transition: all 0.25s linear;
}
.pagination-link:hover {
  background-color: #a435f0;
  color: #fff;
}
.pagination-index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  padding: 6px;
}
.pagination-span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-link.page-active {
  background-color: #a435f0;
  color: #fff;
}

/*# sourceMappingURL=course-list.css.map */
