@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json


@model dynamic
@{
    Layout = "~/Views/Shared/_Layout_No_Footer.cshtml";
    Account user = Context.Session.GetString("User") != null ?
    JsonConvert.DeserializeObject<Account>(Context.Session.GetString("User")) : null;
}
<link rel="stylesheet" href="~/css/myBlog.css" />

<div class="content container blog">
    <div class="blog_header">
        <div class="blog_header-info-user">
            <div class="user-avt">
                <img src="https://img-c.udemycdn.com/course/240x135/1362070_b9a1_2.jpg" alt="">
            </div>
            <div class="user-fullname">
                @user.FulllName
            </div>
        </div>
        <div class="blog_header-title">
            <h2>MY BLOG</h2>
        </div>
    </div>
    <div class="blog_search">
        <form id="myBlogForm" asp-action="MyBlog" method="get">
            <input type="text" placeholder="Search Blog" name="title">
            <i class="fal fa-search" id="btnSubmit"></i>
        </form>
    </div>
    <div class="blog_list">
        <ul>
            @if (Model.listWeek.Count > 0)
            {
                <div class="blog_list-time">
                    <h4>This Week</h4>
                    <div class="line-through"></div>
                </div>
                @foreach (var item in Model.listWeek)
                {
                    <li class="blog_list-item">
                        <a href="Blog/MyBlog/@item.BlogId">
                            <div class="blog_list-item-des">
                                <h5>@item.Title</h5>
                            </div>
                        </a>
                    </li>
                }
            }
            @if (Model.listMonth.Count > 0)
            {
                <div class="blog_list-time">
                    <h4>This Month</h4>
                    <div class="line-through"></div>
                </div>
                @foreach (var item in Model.listMonth)
                {
                    <li class="blog_list-item">
                        <a href="Blog/MyBlog/@item.BlogId">
                            <div class="blog_list-item-des">
                                <h5>@item.Title</h5>
                            </div>
                        </a>
                    </li>
                }
            }

            @if (Model.listYear.Count > 0)
            {
                <div class="blog_list-time">
                    <h4>This Month</h4>
                    <div class="line-through"></div>
                </div>
                @foreach (var item in Model.listYear)
                {
                    <li class="blog_list-item">
                        <a href="Blog/MyBlog/@item.BlogId">
                            <div class="blog_list-item-des">
                                <h5>@item.Title</h5>
                            </div>
                        </a>
                    </li>
                }
            }

        </ul>
    </div>
</div>

<script>
    var btn = document.querySelector("#btnSubmit");
    var form = document.querySelector("#myBlogForm");
    btn.addEventListener('click', () => {
        form.submit();
    });
</script>