.blogdetail .container{
    width: 1100px;  
  }
  .drop{
      display: flex;
      align-items: center;
      justify-content: right;
      font-size: 14px;
      color: #9b9b9b;
  }   
    .avt {
      background-color: #333;
      width: 45px;
      height: 45px;
      color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .avt a {
      color: #fff;
      font-weight: bold;
  }
  
  .section-title-line{
    display: block;
  }
  .stats-item{
    color: #9b9b9b;
    font-size: 14px;
  }

  /* try */

.post{
  display: block;
  justify-content: center;
  align-items: center;
  width: 248px;
  border: 1px solid rgb(219,219,219);
  border-radius: 3px;
}
.content-post{
  display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}
.author,.courses-tilte{
  color: #5488c7;
  font-size: 14px;
}
.post-name{
  font-size: 17.6px;
  color: #0b1a33;
}
.tabl{
  margin-left: 30px;
}
.style-table{
  font-size: 16px; 
  text-align: right; 
  padding-right: 0px;
}
.cou-sg{
  margin-left: 20px;
}
.icon{
  font-size: 14px;
  color: #9b9b9b;
}
a:hover{
  text-decoration: underline;
}
.relate{
 
  font-size: 19px;
 color: #1b1b1b;
}
.comment{
  border: 1px solid gainsboro;
}
.profile{
  padding-left:3px; 
  display: flex;
  align-items: center;
}






  /* ok */




  
  


  /* .slider-content {
    position: relative;
}

.slick-initialized .slick-slide {
    margin: 0 5px;
}

.slick-prev {
    position: absolute;
    left: -20px;
    top: 20%;
    transform: translateY(-50%);
    background-color: #161819;
    color: white;
    border: none;
    z-index: 2;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 18px;
}

.slick-next {
    position: absolute;
    right: -20px;
    top: 20%;
    transform: translateY(-50%);
    background-color: #161819;
    color: white;
    border: none;
    z-index: 2;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 18px;

} */