.pd-23{
    padding-top: 23px;
    margin-bottom: 32px;;
}

.filter{
    width: 88.86px;
    height: 62px;
    background-color: white;
    font-weight: 799;
    border: 1px solid black;
}

.padd{
    padding-right: 70px;
}
.best-seller{
    font-size: 13px;
    border: 3px solid #eceb98;
    background-color: #eceb98;
    text-align: center;
}
.cost{
    text-align: right;
    font-size: 15px;
}
.result{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 750;
    color: #6a6f73;
    font-size: 16px;
    padding-left: 45px;
}


.course-item:hover .detail{
  display: block;
}

.detail::before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  left: 194px;
  background-color: transparent;
 
  bottom: -15px;
  
  
  right: 0px;
  z-index: 6;
  transform: rotate(45deg);
 
}

.detail{
  position: absolute;
  bottom: 0;
  z-index: 3;
  background: #fff;
  top: var(--height-header);
  border: 1px solid #d1d7dc;
  box-shadow: 0px 0px 5px #d1d7dc;
  width: 400px;
  height: 261.200px;
  margin-top: -60px;
  margin-left: 310px;
  color: #1c1d1f;
  text-align: center;
  display: none;
}

.topic-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topic-header:hover {
  cursor: pointer;
}

.topic-content {
  display: none;
}
.cot{
  width: 50px;
}
.ke{
  border-top: 1px solid #DDD;
  margin-left: 2px;
}



#confirm:hover {
  cursor: pointer;
}

#deny:hover {
  cursor: pointer;
}
.logo{
  padding-top: 12px;
}