.content {
    width: 25%;
    margin: 0 auto;
    height: 70%;
}

.signup_account-form {
    position: relative;
}

.signup_account-form input {
    width: 100%;
    height: 70px;
    border: 1px solid #1c1d1f;
    margin-bottom: 10px;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 1.2rem;
}

.signup_placeholder {
    position: absolute;
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
    left: 5%;
    top: 25%;
    transition: all .1s linear;
}

.signup_account-submit button {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.signup_login {
    text-align: center;
    margin: 20px;
    font-size: 1.2rem;
}

.signup_login a {
    color: var(--main-color);
}

.form_message-name,
.form_message-email,
.form_message-pass {
    display: none;
    color: red;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}