@model Online_Learn.Models.Account
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


  <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/user_add.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/lecture-detail.css">
<div class="container mt-5">
        <div class="row booo">
            <div class="col-md-8 booo2">
                <form asp-action="Edit">
                    <div class="row">
                         <input type="hidden" asp-for="AccountId" />
                        <div class="col-md-6" style="margin-bottom: 30px;" hidden>
                            <label for="exampleFormControlTextarea1" class="form-label">
                                <h4 class="headtext">User name</h4>
                            </label>
                            <input asp-for="Username" class="form-control form-control-lg inputt" type="text" placeholder="TH"
                                aria-label=".form-control-lg example"/>
                        </div>
                        <div class="col-md-6" hidden>
                            <label for="exampleFormControlTextarea1" class="form-label">
                                <h4 class="headtext">Password</h4>
                            </label>
                            <input asp-for="Password" class="form-control form-control-lg inputt" type="text" placeholder="@@123456..."
                                aria-label=".form-control-lg example" />
                        </div>
                    </div>
                    <div style="margin-bottom: 30px;">
                        <label for="exampleFormControlTextarea1" class="form-label">
                            <h4 class="headtext">Full name</h4>
                        </label>
                        <input asp-for="FulllName" class="form-control form-control-lg inputt" type="text"
                            placeholder="Tung Hoang Nguyen"
                            aria-label=".form-control-lg example" />
                    </div>


                    <div style="margin-bottom: 30px;">
                        <label for="exampleFormControlTextarea1" class="form-label">
                            <h4 class="headtext">Phone</h4>
                        </label>
                        <input asp-for="Phone" class="form-control form-control-lg inputt" type="text" placeholder="0123456689"
                            aria-label=".form-control-lg example" />
                    </div>

                    <div style="margin-bottom: 30px;">
                        <label for="exampleFormControlTextarea1" class="form-label">
                            <h4 class="headtext">Address</h4>
                        </label>
                        <input asp-for="Address" class="form-control form-control-lg inputt" type="text" placeholder="Address"
                            aria-label=".form-control-lg example">
                    </div>
                    <div style="margin-bottom: 30px;">
                        <label for="" class="form-label">
                            <h4 class="headtext">Biography</h4>
                        </label>
                        <textarea asp-for="Desc" class="form-control inputt" style="border-radius: 30px;"
                            placeholder="Provide a detailed description of you" rows="8" ></textarea>
                    </div>


                    <div style="margin-bottom: 30px;">
                        <label for="exampleFormControlTextarea1" class="form-label">
                            <h4 class="headtext">Email</h4>
                        </label>
                        <input asp-for="Email" class="form-control form-control-lg inputt" type="text" placeholder="email@gmail.com"
                            aria-label=".form-control-lg example">
                        <span style="color: rgb(159, 156, 156);">Your email for marketplace notification.</span>
                    </div>
                   

                    <div style="margin-bottom: 30px;">
                        <label for="exampleFormControlTextarea1" class="form-label">
                            <h4 class="headtext">Role</h4>
                        </label>
                        <br>

                       
                        <input class="in_ra"  name="roleid" type="radio" id="student" value="1" asp-for="RoleId">
                        <label class="label_radio la_ra" for="student">Student</label>
                    

                    
                        <input class="in_ra" name="roleid" type="radio" id="staff" value="2"  asp-for="RoleId">
                        <label class="label_radio la_ra" for="staff">Staff</label>
                        

                        <input class="in_ra" name="roleid" type="radio" id="sale" value="3" asp-for="RoleId">
                        <label class="label_radio la_ra" for="sale">Marketing/Sale</label>
                    </div>
                   
                    
                    <div style="margin-bottom: 30px;">
                        <button type="submit" class="add_user div-left">Update</button>
                        
                    </form>
                   

                   
                        <a class="add_user" style="border:2px solid black;padding-top: 10px;padding-bottom: 11px;padding-right: 17px;padding-left: 17px;margin-left: 4px;"
                        onclick="deleteUser(@ViewBag.AccountId)">Delete</a>
                    </div>
                         <script>

                                        function deleteUser(id) {
                                            const template_deletelesson = `<div class="delete">
                                        <div class="delete-heading">
                                            <div class="delete-add">
                                                <p>Do you want to delete this user?</p>
                                            </div>
                                            <div class="delete-icon">
                                                <i class="fas fa-times" id="delete-close"></i>
                                            </div>
                                        </div>
                                        <div class="delete-footer">
                                            <a href="/Account/Delete/${id}" class="delete-acpt">Ok</a>
                                            <span class="delete-cancel">Cancel</span>
                                        </div>
                                        </div>`;
                                            document.body.insertAdjacentHTML('beforeend', template_deletelesson);

                                            lessondel.setAttribute('disabled', '');
                                        }


                                        document.addEventListener('click', (e) => {
                                            const tpl_deleteles = document.querySelector('.delete');
                                            const close_deleteles = document.querySelector('#delete-close');
                                            const cancelles = document.querySelector('.delete-cancel');
                                            if (e.target.matches('#delete-close') || e.target.matches('.delete-cancel')) {
                                                document.body.removeChild(tpl_deleteles);
                                                lessonupdate.removeAttribute('disabled');
                                                lessondel.removeAttribute('disabled');
                                            }
                                        })
                                    </script>
      
                
            </div>
            <div class="col-md-4 booo2">
                <label for="exampleFormControlTextarea1" class="form-label">
                    <h4 class="headtext">Edit Profile</h4>
                </label>
                <p style="margin-top: 0px; color: rgb(125, 125, 125);">profile of at least Size 300 x 300</p>
                <p style="margin-top: 0px; color: rgb(125, 125, 125);">Gifs work too. Max 5mb</p>
                <div>
                    <img class="imgg" src="https://i.pinimg.com/736x/12/37/b3/1237b30268db9ee0c9cbe3a79b1ff8fa.jpg">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-pencil-fill iconn" viewBox="0 0 16 16">
                            <path
                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                        </svg>
                    </a>
                </div><br>
                <label for="exampleFormControlTextarea1" class="form-label">
                    <h4 class="headtext">Update Cover</h4>
                </label>
                <p style="margin-top: 0px; color: rgb(125, 125, 125);">Cover of at least Size 1170 x 920</p>
                <div>
                    <img class="imgg2"
                        src="https://olptienganh.vn/wp-content/uploads/2022/01/Hinh-anh-Galaxy-dep-huyen-ao-chat-luong-cao-HD.jpg">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-pencil-fill iconn2" viewBox="0 0 16 16">
                            <path
                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br /><br />




