@model Online_Learn.Models.Exam

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" href="~/css/home.css">
<link rel="stylesheet" href="~/css/course-update.css">

<div class="course">
	<div class="course-header">
		<a href="/Course/List" class="course-header__back"><i class="fas fa-angle-left"></i>Back to Exam</a>
		<span class="course-header__key">Keyword research for bloggers</span>
		<span class="course-header__bold">Draft</span>
		<span class="course-header__tt">Omin of video contenet upload</span>
	</div>
	<div class="course-wrap">
		<div class="course-update">
			<h1 class="course-update__heading" style="color: #a435f0; margin-left: 30px">Exam Detail</h1>
			<div class="container">
				<div class="course-update__content">
					<div class="course-update__form col">
						<form asp-action="Edit" method="POST">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="course-update__formgr">
								<input type="hidden" asp-for="ExamId" class="course-update__input">
							</div>
							<div class="course-update__formgr">
								<label asp-for="ExamName" class="course-update__lable"></label>
								<input asp-for="ExamName" class="course-update__input" />
								<span asp-validation-for="ExamName" class="text-danger"></span>
							</div>
							<div class="course-update__formgr">
								<label asp-for="Quantity" class="course-update__lable"></label>
								<input asp-for="Quantity" class="course-update__input" />
								<span asp-validation-for="Quantity" class="text-danger"></span>
							</div>
							<div class="course-update__formgr">
								<label asp-for="Time" class="course-update__lable"></label>
								<input asp-for="Time" class="course-update__input" />
								<span asp-validation-for="Time" class="text-danger"></span>
							</div>
							<div class="course-update__formgr">
								<label asp-for="StartDate" class="course-update__lable"></label>
								<input asp-for="StartDate" class="course-update__input" />
								<span asp-validation-for="StartDate" class="text-danger"></span>
							</div>
							<div class="course-update__formgr">
								<label asp-for="Lecture" class="course-update__lable"></label><br />
								<select asp-for="LectureId" class="course-update__select" asp-items="ViewBag.LectureId"></select>
								<span asp-validation-for="LectureId" class="text-danger"></span>
							</div>
							<div class="course-update__formgr">
								<button class="course-update__submit">Update</button>
						</form>
						<a href="/Exam/Delete?id=@ViewData["ExamId"]" class="windowdelete">Delete</a>
@*						<button id="/Course/Delete?id=@ViewData["ExamId"]" class="course-update__info">Delete</button>*@
					</div>
				</div>
				<div class="course-update__image col img1">
					<img src="~/css/Studying-bro.svg" alt="" srcset="">
					<br>
					<span class="course-update__author">@ViewData["ExamName"]</span><br>
					<span class="course-update__total">
						<span>4.6</span>
						<div class="rate">
							<i data-star='0' class="fas fa-star stars starActive"></i>
							<i data-star='1' class="fas fa-star stars starActive"></i>
							<i data-star='2' class="fas fa-star stars starActive"></i>
							<i data-star='3' class="fas fa-star stars starActive"></i>
							<i data-star='4' class="fas fa-star stars starActive"></i>
						</div>
						(11.296)
					</span><br />
					<span class="course-update__lct">8 lecture - 16 lesson - 3 Exam</span>
@*					<div class="course-update__question">
						<a href="#" class="course-update__qslink">View list question</a>
						<a href="/Lecture/Create/@ViewData["CourseId"]" class="course-update__qslink">Add new Lecture</a>
						<a href="/Exams/Create" class="course-update__qslink">Add new Exam</a>
					</div>*@
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migstars starActive-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="~/js/home.js"></script>
<script src="~/js/course-update.js"></script>
