.app {
    background-color: #f6f7fb;
}

.img_blog {
    height: 400px;
    position: relative;
}

.img_blog img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.img_blog-tittle {
    position: absolute;
    top: 16%;
    right: 50%;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
}



.post_list {}

.blog_search {
    margin-top: 20px;
    position: relative;
    text-align: right;
    margin-right: 10%;
}

.blog_search input {
    width: 500px;
    height: 40px;
    padding: 5px 5px 5px 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.blog_search input:focus {
    outline: none;
}

.blog_search input:focus+i {
    color: var(--main-color);
    font-weight: 600;
}

.blog_search i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    font-weight: 400;
}

.post_list-item {
    margin: 20px 0;
    background-color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 11px;
    transition: all 0.2s ease;
    border-bottom: 0px solid var(--main-color);
}

.post_list-item-avt {
    background-color: #333;
    width: 70px;
    height: 70px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.post_list-item-avt a {
    color: #fff;
    font-weight: bold;
}



.post_list-item-info {
    padding-left: 20px;
}

.post_list-item-title {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    display: inline-block;
}

.post_list-item-title>a ::first-letter {
    text-transform: uppercase;
}

.post_list-item-cate {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid var(--main-color);
    padding: 5px;
    background-color: var(--main-color);
    color: white;
}


.post_list-item-cate:hover {
    color: white;
    opacity: 0.8;
}

.post-meta--inline span a:hover,
.post_list-item-title a:hover {
    color: var(--main-color);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.pagination-item {
    margin: 4px;
    width: 35px;
    height: 35px;
    border: 1px solid #a435f0;
    overflow: hidden;
}

.pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 6px;
    background-color: #fff;
    color: #282c2f;
    font-weight: 500;
    transition: all 0.25s linear;
}

.pagination-link:hover {
    background-color: #a435f0;
    color: #fff;
}

.pagination-index {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 6px;
}

.pagination-span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-link.page-active {
    background-color: #a435f0;
    color: #fff;
}