@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/order-detail.css">


<div class="course-contact">
    <div class="course-contact__header">
        <a href="#Home"><img src="./assets/img/Udemy_logo.svg" alt="" width="91" height="34" /></a>
        <span class="course-contact__heading">Order Manager</span>
    </div>
    <div class="course-contact__account">
        <div class="course-contact__avt">
            <a><img class="course-show" src="https://source.unsplash.com/random" alt=""></a>
        </div>
        <div class="course-contact__user">
            <div class="course-contact__profile">
                <div class="course-contact__img">
                    <a><img src="https://source.unsplash.com/random" alt=""></a>
                </div>
                <div class="course-contact__name">
                    <span class="course-contact__fn">My full name</span><br>
                    <span class="course-contact__email">My email</span>
                </div>
            </div>
            <div class="course-contact__pf">
                <span class="course-contact__pr"><a href="#">Public Profile</a></span><br>
                <span class="course-contact__pr"><a href="#">Edit Profile</a></span>
            </div>
            <div class="course-contact__logout">
                <span class="course-contact__lg"><a href="#">Logout</a></span>
            </div>
        </div>
    </div>
</div>

<div class="order">
    <div class="order-home">
        <span class="order-span">
            <a class="order-link" href="#" class="order-link">
                Order
            </a>
        </span>
        <span>></span>
        <span>Order detail</span>
    </div>
    <div class="order-wrap">
        <div class="order-left">
            <div class="order-left__info">
                <div class="order-group">
                    <div class="order-group-img">
                        <div class="order-group-avt">
                            <p>hieu</p>
                        </div>
                    </div>
                    <div class="order-group-name">
                        <p>Dao Duc Hieu</p>
                    </div>
                </div>
                <div class="order-groupQ">
                    <label for="" class="order-groupQ-label">Email</label>
                    <p class="order-groupQ-p">hieu123@gmail.com</p>
                </div>
                <div class="order-groupQ">
                    <label for="" class="order-groupQ-label">Phone</label>
                    <p class="order-groupQ-p">01211212212</p>
                </div>
                <div class="order-groupQ">
                    <label for="" class="order-groupQ-label">Order date</label>
                    <p class="order-groupQ-p">2022-01-01</p>
                </div>
            </div>
        </div>
        <div class="order-right">
            <h2 class="order-right__heading">Order Code : #1</h2>
            <p class="order-right__totalC">2 Course in Order detail</p>
            <div class="order-right__wrap">
                <div class="order-right__course">
                    <div class="order-right__item">
                        <div class="order-right__img">
                            <img src="https://img-b.udemycdn.com/course/240x135/1455016_0b2d_2.jpg" alt="">
                        </div>
                        <div class="order-right__content">
                            <h3>Build App with ASPNET form Scratch</h3>
                            <p>By Neil cummings, progestional freelance software developer</p><br>
                            <span>30 total hours - 265 lecture - Beginner</span>
                        </div>
                        <div class="order-right__price">
                            <p>$ 99</p>
                        </div>
                    </div>
                    <div class="order-right__item">
                        <div class="order-right__img">
                            <img src="https://img-b.udemycdn.com/course/240x135/1455016_0b2d_2.jpg" alt="">
                        </div>
                        <div class="order-right__content">
                            <h3>Build App with ASPNET form Scratch</h3>
                            <p>By Neil cummings, progestional freelance software developer</p><br>
                            <span>30 total hours - 265 lecture - Beginner</span>
                        </div>
                        <div class="order-right__price">
                            <p>$ 99</p>
                        </div>
                    </div>
                    <div class="order-right__item">
                        <div class="order-right__img">
                            <img src="https://img-b.udemycdn.com/course/240x135/1455016_0b2d_2.jpg" alt="">
                        </div>
                        <div class="order-right__content">
                            <h3>Build App with ASPNET form Scratch</h3>
                            <p>By Neil cummings, progestional freelance software developer</p><br>
                            <span>30 total hours - 265 lecture - Beginner</span>
                        </div>
                        <div class="order-right__price">
                            <p>$ 99</p>
                        </div>
                    </div>
                    <div class="order-right__item">
                        <div class="order-right__img">
                            <img src="https://img-b.udemycdn.com/course/240x135/1455016_0b2d_2.jpg" alt="">
                        </div>
                        <div class="order-right__content">
                            <h3>Build App with ASPNET form Scratch</h3>
                            <p>By Neil cummings, progestional freelance software developer</p><br>
                            <span>30 total hours - 265 lecture - Beginner</span>
                        </div>
                        <div class="order-right__price">
                            <p>$ 99</p>
                        </div>
                    </div>
                    <div class="order-right__item">
                        <div class="order-right__img">
                            <img src="https://img-b.udemycdn.com/course/240x135/1455016_0b2d_2.jpg" alt="">
                        </div>
                        <div class="order-right__content">
                            <h3>Build App with ASPNET form Scratch</h3>
                            <p>By Neil cummings, progestional freelance software developer</p><br>
                            <span>30 total hours - 265 lecture - Beginner</span>
                        </div>
                        <div class="order-right__price">
                            <p>$ 99</p>
                        </div>
                    </div>
                </div>
                <div class="order-right__total">
                    <h5>Total : 2900 $</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
<script src="~/js/order.js"></script>