/* Cấu hình css */
:root {
    --height-header: 72px;
    --main-color: #a435f0;
    --height-header-video-page: 55px;
    --star-color: #e59819;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



html {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.header {
    background-color: #fff;
}

.rate {
    font-size: 14px;
    font-weight: 700;
    transform: translateY(-2px);
    color: #b4695c;
    display: inline;
}

.stars {
    width: 15px;
    cursor: pointer;
}

    .stars.starActive {
        color: var(--star-color);
    }

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

    input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        border: 2px solid #1c1d1f;
        border-radius: 3px;
        background-color: white;
    }

    input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 7px;
        height: 13px;
        border: solid black;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 2px;
        left: 6px;
    }

input[type=radio]:checked + .label_radio:before {
    background-color: var(--main-color);
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px var(--main-color);
}

input[type=radio] {
    display: none;
}

.label_radio {
    font-size: 1.1rem;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

    .label_radio::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 3rem;
        background-color: #fff;
        box-shadow: 0 0 0 3px #fff, 0 0 0 5px #b7c1cb;
        transition: 0.25s linear;
    }



.best-seller {
    font-size: 12px;
    border: 3px solid #eceb98;
    background-color: #eceb98;
    text-align: center;
}
/* Cấu hình css */
:root {
    --height-header: 72px;
    --main-color: #a435f0;
    --height-header-video-page: 55px;
    --star-color: #e59819;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



html {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.header {
    background-color: #fff;
}

.rate {
    font-size: 14px;
    font-weight: 700;
    transform: translateY(-2px);
    color: #b4695c;
    display: inline;
}

.stars {
    width: 15px;
    cursor: pointer;
}

    .stars.starActive {
        color: var(--star-color);
    }

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

    input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        border: 2px solid #1c1d1f;
        border-radius: 3px;
        background-color: white;
    }

    input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 7px;
        height: 13px;
        border: solid black;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 2px;
        left: 6px;
    }

input[type=radio] {
    display: none;
}
input[type=radio]:checked + .label_radio:before {
    background-color: var(--main-color);
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px var(--main-color);
}



.label_radio {
    font-size: 1.1rem;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

    .label_radio::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 3rem;
        background-color: #fff;
        box-shadow: 0 0 0 3px #fff, 0 0 0 5px #b7c1cb;
        transition: 0.25s linear;
    }



.best-seller {
    font-size: 12px;
    border: 3px solid #eceb98;
    background-color: #eceb98;
    text-align: center;
}
