.font-heading-serif-xxxl {
    font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.15;
    letter-spacing: -.5px;
}

.jumbotron-header-bar__inner {
    padding: 34px 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.total-card {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    margin: 0 0 10px;
}

.fontt {
    font-size: 18px;
}

.img {
    padding-top: 7px;
    padding-bottom: 14px;
    height: 100px;
}

.rating {
    font-size: 15px;
    color: rgb(194, 136, 11);
}

.action {
    text-align: right;
    margin: auto;
    margin-top: 6px;
}

.color-bestseller {
    text-align: center;
    border: 3px solid #eceb98;
    background-color: #eceb98;
}

.price {
    text-align: center;
    font-size: 20px;
    color: #a435f0;
    font-weight: 700;
    margin-top: 6px;
}

.old-price {
    text-align: center;
    margin-right: 23px;
    font-size: 18px;
    color: rgb(104, 101, 101);
}

.total {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.gia {
    font-size: 20px;
    color: rgb(104, 101, 101);
}

.checkout {
    display: block;
    text-align: center
    color: white;
    border: 1px solid #a435f0;
    font-size: 17px;
    font-weight: 800;
    background-color: #a435f0;
    padding: 15px 100px;
    color: #333;
    transition: .35s ease-in-out;
}
    .checkout:hover {
        background-color: rebeccapurple;
        color: #fff;
    }

.colo {
    background-color: rgb(245, 237, 245);
}
