

.lesson {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    width: 500px;
    height: auto;
    border: 1px solid #eee;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 1px 2px 10px 3px #eee;
}

.lesson-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.lesson-add h3 {
    padding: 0 0 14px 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #1b1c1f;
}

.lesson-icon i {
    text-align: center;
    padding: 0 0 14px 0;
    font-size: 25px;
    cursor: pointer;
    color: #20E3B2;
}

.lesson-form {
    margin-top: 20px;
}

.lesson-form__group {
    width: 100%;
    margin-top: 10px;
}


.lesson-lable {
    display: block;
    font-weight: bold;
    font-size: 16px;
}

.lesson-input {
    border: none;
    outline: none;
    width: 100%;
    border: 1px solid #999;
    padding: 13px;
    border-radius: 8px;
}

    .lesson-input:focus {
        border: 1px solid #a435f0;
    }

.lesson-submit {
    margin-top: 10px;
    border: none;
    outline: none;
    padding: 12px;
    border: 1px solid #a435f0;
    background-color: #fff;
    color: #a435f0;
    font-weight: bold;
    align-items: flex-end;
    cursor: pointer;
    transition: .25s linear;
    margin-left: 350px;
}

    .lesson-submit:hover {
        background-color: #a435f0;
        color: #fff
    }

.lesson-create {
    border: 1px solid #1b1c1f;
    padding: 12.5px;
    cursor: pointer;
    font-weight: bold;
    transition: .25s linear;
    background-color: #fff;
}

    .lesson-create:hover {
        background-color: #a435f0;
        color: #fff;
    }

.lesson-textar {
    resize: none;
    border: none;
    outline: none;
    border: 1px solid #999;
    padding: 13px;
    border-radius: 10px;
}

    .lesson-textar:focus {
        border: 1px solid #a435f0;
    }



.course-header {
    width: 100%;
    background-color: #1b1c1f;
    color: #fff;
    padding: 12px;
}

    .course-header a {
        color: #fff;
        margin-right: 12px;
    }

        .course-header a i {
            margin-right: 8px;
        }

.course-header__key {
    font-weight: bold;
    margin-right: 12px;
}

.course-header__bold {
    margin-right: 12px;
    padding: 8px;
    background-color: #999;
    border-radius: 10px;
}

.course-update {
    width: 70%;
    border: 1px solid #1b1c1f;
    padding: 15px;
}

.course-update__content {
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

.course-update__image {
    margin-top: 45px;
    margin-right: 85px;
}

    .course-update__image img {
        width: 400px;
        object-fit: cover;
    }

.course-update__heading {
    padding: 25px;
    font-size: 24px;
    border-bottom: 1px solid #999;
}

.course-update__formgr {
    margin: 15px 0;
}

.course-update__checkbox {
    margin-right: 3px;
}

.course-update__lable {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

.course-update__lablecb {
    margin-right: 12px;
    font-size: 12.5px;
    font-weight: 500;
}

.course-update__textarea {
    padding: 8px;
}

.course-update__input {
    width: 100%;
    padding: 13px;
    border: none;
    outline: none;
    border: 1px solid #1b1c1f;
}

.course-update__lbp {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

.course-update__submit {
    margin-top: 15px;
    border: none;
    outline: none;
    padding: 12px 36px;
    border: 1px solid #1b1c1f;
    font-weight: bold;
    background-color: #fff;
    color: #1b1c1f;
    cursor: pointer;
    transition: 0.25s linear;
}

    .course-update__submit:hover {
        background-color: #1b6a40c9;
        color: #fff;
    }

.course-update__select {
    width: 200px;
    padding: 8px;
}

.course-update__option {
    width: 200px;
    padding: 8px;
}

.course-update__info {
    margin: 0 10px;
    border: 1px solid #1b1c1f;
    color: #1b1c1f;
    font-weight: bold;
    padding: 12px 36px;
    transition: 0.25s linear;
    background-color: #fff;
    cursor: pointer;
}

    .course-update__info:hover {
        background-color: orangered;
        color: #fff;
    }

.course-update__author {
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
}

.course-update__lct {
    display: inline-block;
    margin-top: 10px;
}

.course-update__question {
    margin-top: 60px;
}

    .course-update__question a {
        color: #1b1c1f;
        font-weight: bold;
        padding: 12px;
        border: 1px solid #1b1c1f;
        transition: 0.25s linear;
    }

.containers {
    width: 1800px;
    margin: 15px auto;
    padding: 25px;
    display: flex;
    gap: 10px;
}

.sidebar {
    width: calc(30% - 1rem);
}

.lecture {
    width: calc(65% - 1rem);
    height: 850px;
    border: 1px solid #eee;
    box-shadow: 1px 2px 10px 3px #eee;
    padding: 25px;
    background-color: #fff;
}

.lecture-heading {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.lesson-addd {
    padding: 10px;
    border: 1px solid #1b1c1f;
    background-color: #fff;
    color: #1b1c1f;
    transition: 0.25s linear;
}

    .lesson-addd:hover {
        border: 1px solid #a435f0;
        background-color: #a435f0;
        color: #fff;
    }

.lecture-wrap {
    width: 100%;
}

.lecture-filter {
    margin-top: 25px;
    width: 100%;
    border: 1px solid rgba(153, 153, 153, 0.612);
}

    .lecture-filter i {
        margin: 0 5px;
        padding: 13px;
        font-size: 16px;
        color: rgba(153, 153, 153, 0.612);
    }

.lecture-input {
    border: none;
    outline: none;
    padding: 13px;
}

.lecture-info {
    margin-top: 25px;
    width: 100%;
}

.lecture-desc {
    height: 300px;
}

.lecture-cap {
    font-weight: bold;
    margin: 15px 0;
}

.lecture-item {
    padding: 13px;
    border: 1px solid rgba(153, 153, 153, 0.295);
    display: flex;
    margin: 10px 0px;
    justify-content: space-between;
}

.lecture-action {
    color: #1b1c1f;
}

    .lecture-action:hover {
        color: #a435f0;
    }

.lecture-item i {
    margin: 0 10px;
}

.lecture-link {
    color: #1b1c1f;
}

    .lecture-link:hover {
        color: #1b1c1f;
    }

.lecture-action {
    margin-top: 35px;
}

.lecture-update {
    border: none;
    outline: none;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #1b1c1f;
    padding: 9px 20px;
    transition: 0.25s linear;
}

    .lecture-update:hover {
        color: #fff;
        background-color: #a435f0;
        border: 1px solid #a435f0;
    }

.delete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    width: 500px;
    height: auto;
    border: 1px solid #eee;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 1px 2px 10px 3px #eee;
}

.delete-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

    .delete-heading p {
        font-size: 16px;
    }

.delete-icon i {
    cursor: pointer;
    font-size: 23px;
    padding: 0 0 14px 0;
    color: #a435f0;
}

.delete-footer {
    margin: 40px 0 0 300px;
}

.delete-acpt {
    color: #1b1c1f;
    padding: 10px 15px;
    border: 1px solid #999;
    transition: 0.25s linear;
}

    .delete-acpt:hover {
        border: 1px solid #a435f0;
        background-color: #a435f0;
        color: #fff;
    }

.delete-cancel {
    padding: 10px 15px;
    border: 1px solid #999;
    cursor: pointer;
    transition: 0.25s linear;
}

    .delete-cancel:hover {
        border: 1px solid #a435f0;
        background-color: #a435f0;
        color: #fff;
    }

.update {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    width: 500px;
    height: auto;
    border: 1px solid #eee;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 1px 2px 10px 3px #eee;
    opacity: 0;
    visibility: hidden;
}

    .update.show-update {
        opacity: 1;
        visibility: visible;
    }

.update-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.update-add h3 {
    padding: 0 0 14px 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #1b1c1f;
}

.update-icon i {
    text-align: center;
    padding: 0 0 14px 0;
    font-size: 25px;
    cursor: pointer;
    color: #20e3b2;
}

.update-form {
    margin-top: 20px;
}

.update-form__group {
    width: 100%;
    margin-top: 10px;
}

.update-lable {
    display: block;
    font-weight: bold;
    font-size: 16px;
}

.update-input {
    border: none;
    outline: none;
    width: 100%;
    border: 1px solid #999;
    padding: 13px;
    border-radius: 8px;
}

    .update-input:focus {
        border: 1px solid #a435f0;
    }

.update-submit {
    margin-top: 10px;
    border: none;
    outline: none;
    padding: 12px;
    border: 1px solid #a435f0;
    background-color: #fff;
    color: #a435f0;
    font-weight: bold;
    align-items: flex-end;
    cursor: pointer;
    transition: 0.25s linear;
    margin-left: 345px;
}

    .update-submit:hover {
        background-color: #a435f0;
        color: #fff;
    }

.update-create {
    border: 1px solid #1b1c1f;
    padding: 12.5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.25s linear;
    background-color: #fff;
}

    .update-create:hover {
        background-color: #a435f0;
        color: #fff;
    }

.update-textar {
    resize: none;
    border: none;
    outline: none;
    border: 1px solid #999;
    padding: 13px;
    border-radius: 10px;
}

    .update-textar:focus {
        border: 1px solid #a435f0;
    }



/*# sourceMappingURL=lecture-detail.css.map */
