body{
    margin-top:20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}

.butonnn:hover {
    color: #fff;
    background-color: #a435f0;
}
.input[type=text]:focus {
    border: 1px solid #a435f0;
}




    .inputt:focus {
        color: #495057;
        background-color: #fff;
        border-color: #b180ff;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(119, 0, 255, 0.25)
    }
