.mylearning {
    width: 100%;
    background-color: #1c1d1f;
    color: #fff;
}

.wrap {
    display: flex;
    gap: 10px;
}
.mylearning_header {
    padding-bottom: 10px;
}

    .mylearning_header .container, .mycourses .container {
        width: 1010px;
        margin-bottom: 30px;
    }

    .mylearning_header a {
        color: #fff;
        font-size: 1.2rem;
    }

.header_bar {
    padding: 34px 0 15px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 1.25;
}

.mylearning_header li.active > a {
    border-bottom: 6px solid rgba(255, 255, 255, .7);
}

.nav > li > a {
    padding-bottom: 5px;
}

    .nav > li > a:hover {
        border-bottom: 6px solid rgba(255, 255, 255, .7);
        color: #fff;
        ;
    }

.search {
    margin-left: 60%;
}

    .search input {
        padding: 5px 10px;
        margin-right: -5px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        position: relative;
    }

    .search button {
        color: #fff;
        background-color: black;
        padding: 7px 10px;
        border-radius: 3px;
        position: absolute;
        right: 425px;
    }

.card {
    border: 0;
    cursor: pointer;
    height: 360px;
}

.col-3 {
    width: 24%;
    /* margin-right: 12px; */
}

.card-learning:hover, card_img:hover {
    box-shadow: 0 0 1px 1px rgb(28 29 31 / 10%), 0 3px 1px 0 rgb(28 29 31 / 10%);
    opacity: 1;
}

button {
    float: right;
    border: none;
    background-color: #fff;
}

.details_instructor {
    height: 120px;
}

.card-learning_details {
    height: 100%;
    border: 0.1px solid rgb(201, 204, 209);
}

    .card-learning_details > .btn {
        padding: 0;
        border: 0;
        float: left;
        text-align: start;
    }

.noHover {
    pointer-events: none;
}

.details_name {
    display: block;
    display: -webkit-box;
    height: 16px*1.3*3;
    font-size: 16px;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.details_rating {
    float: right;
    height: 20px;
    padding: 0 10px;
}

.progress {
    height: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.pagination-item {
    margin: 4px;
    width: 35px;
    height: 35px;
    border: 1px solid #a435f0;
    overflow: hidden;
}

.pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 6px;
    background-color: #fff;
    color: #282c2f;
    font-weight: 500;
    transition: all 0.25s linear;
}

    .pagination-link:hover {
        background-color: #a435f0;
        color: #fff;
    }

.pagination-index {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 6px;
}

.pagination-span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-link.page-active {
    background-color: #a435f0;
    color: #fff;
}
