.header {
    font-size: 16px;
    font-weight: 600;
    position: fixed;
    width: 100vw;
    padding: 0 24px;
}

    .header a:hover {
        color: var(--main-color);
    }

.header_center {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header_right {
    flex-basis: 0;
}

.content {
    padding: var(--height-header);
}


.question {
    text-align: center;
    padding-top: 2%;
}

.question_list {
    counter-reset: section;
}

.question_list-item {
    height: auto;
    border-radius: 10px;
    width: 60%;
    margin: 60px auto;
    background-color: #fff;
    box-shadow: 2px 2px 10px 10px #eff0f5;
    padding: 32px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question_list-item-title {
    text-align: left;
    word-break: break-word;
    padding: 10px;
}

.count:before {
    counter-increment: section;
    content: counter(section);
}

.question_list-item-choice {
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

    .question_list-item-choice section {
        padding: 10px;
        word-break: break-word;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #edeff4;
        border-radius: 10px;
        margin: 10px;
        cursor: pointer;
    }

        .question_list-item-choice section:hover {
            border-color: #939bb4;
        }

.sidebar {
    counter-reset: section;
    position: fixed;
    width: 200px;
    top: 15%;
}

.count:before {
    counter-increment: section;
    content: counter(section);
}

.sidebar li {
    margin: 10px 0;
}

    .sidebar li a {
        padding: 5px;
        font-size: 20px;
        font-weight: 600;
    }

        .sidebar li a:hover {
            cursor: pointer;
            color: var(--main-color);
        }

.option-choosed {
    border: 1px solid #4257b2 !important;
    background-color: #eff3fb;
}

.view_result {
    width: 60%;
    height: 60px;
    background-color: var(--main-color);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 12px;
}
