.course {
    &-header {
        width: 100%;
        background-color: #1b1c1f;
        color: #fff;
        padding: 12px;
        a {
            color: #fff;
            margin-right: 12px;
            i {
                margin-right: 8px;
            }
        }
        &__key {
            font-weight: bold;
            margin-right: 12px;
        }
        &__bold {
            margin-right: 12px;
            padding: 8px;
            background-color: #999;
            border-radius: 10px;
        }
    }
    &-wrap {
        margin-top: 25px;
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: space-evenly;
    }
    &-image {
        width: calc(20%);
    }
    &-create {
        width: calc(43%);
        border: 1px solid #1b1c1f;
        &__content {
            padding: 35px;
        }
        &__heading {
            padding: 25px;
            border-bottom: 1px solid #999;
        }
        &__form {
        }
        &__formgr {
            margin: 15px 0;
        }
        &__checkbox {
            margin-right: 3px;
        }
        &__lable {
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 16px;
        }
        &__lablecb {
            margin-right: 12px;
            font-size: 12.5px;
            font-weight: 500;
        }
        &__textarea {
            padding: 8px;
        }
        &__input {
            width: 100%;
            padding: 8px;
            border: none;
            outline: none;
            border: 1px solid #1b1c1f;
        }
        &__lbp {
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 16px;
        }
        &__submit {
            margin-top: 15px;
            border: none;
            outline: none;
            padding: 12px 36px;
            border: 1px solid #1b1c1f;
            font-weight: bold;
            background-color: #fff;
        }
        &__select {
            width: 200px;
            padding: 8px;
        }
        &__option {
            width: 200px;
            padding: 8px;
        }
    }
}

textarea {
    resize: none;
}
