@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/forgot.css" rel="stylesheet" />
@*@if (ViewBag.error != null)
    {
            <h4 style="margin:0 auto; color: red; margin-bottom: 10px;">@ViewBag.error</h4>
    }*@
<div class="content">
    <h4 class="text-center" style="border-bottom: 1px solid #d1d7dc; padding: 10% 0; ">
        Forgot Password
    </h4>
    <div class="forgot">
        <form id="form" action="confirm" method="post">
            <div class="forgot_form">
                <input id="email" class="forgot_form-email" placeholder="Email" name="email" value="" type="text" required>
            </div>
            <div class="signup_account-submit">
                <button type="submit">Reset Password</button>
            </div>
        </form>
        <div class="forgot_login">
            <span>Or <br><a href="/Login/Login_Udemy">Log In</a></span>
        </div>
    </div>
</div>
